<h2>Login</h2>

<input type="text" id="username" placeholder="Enter username" /><br>
<input type="password" id="password" placeholder="Enter password" /><br>

<button type="button" id="loginButton">Login</button>